.registro-login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    animation: myAnim 2s ease 0s 1 normal forwards;
  }
  @keyframes myAnim {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
  
  .container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
  }
  
  .welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .message {
    padding: 1rem;
    font-family: "Montserrat";
  }
  .logo-contacto{
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;

}
  
  .message h2 {
    font-family: "Montserrat";
    font-size: 1.9rem;
    padding: 1rem 0;
    
    
  }
p{
    font-family: "Montserrat";
    font-size: 1.2rem;
  }
  
  .message button {
    padding: 1rem;
    font-weight: 400;
    background-color:var(--bg-titulos);
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #ffff;
   
  }
  
  .message button:hover {
    background-color:var(--color-sub-titulo);
  }
  
  .formulario {
    width: 20em;
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
    margin: 2rem;
    border-radius: 40px;
    box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
    padding: 50px 35px 35px 35px;
    text-align: center;
  }
  
  .create-account {
    font-family: "Montserrat";
    padding: 2.7rem 0;
    font-size: 1.7rem;
    color: var(--bg-titulos);
  }
  
  .iconos {
    width: 12.5rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
 
  }


  
  
  .iconos i{
 color: white;
 transition: all 265ms ease-in-out;


 
 
  }

  .iconos a{
    display: inline-block;
  }




  .border-icon {
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin var(--color-titulo);
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
  
  }

  .iconos:hover i{
   
transform: scale(1.4);
  }

  .border-icon-insta{
    height: 1.2rem;
    width: 1.2rem;
    background:linear-gradient(orange, fuchsia, pink);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
  
  }
  .border-icon-google{
    height: 1.2rem;
    width: 1.2rem;
    background:linear-gradient(red,rgb(179, 3, 3));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
  }

  .border-icon-face{
    height: 1.2rem;
    width: 1.2rem;
    background:linear-gradient(blue, rgb(5, 5, 128));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
  }

  .border-icon:hover {
    cursor: pointer;
  }
  
  .cuenta-gratis {
    padding: 2rem 0;
    color: var(--color-sub-titulo);
  }
  .olvido-contraseña input a{
    width: 100%;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .olvido-passwor {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-family: "Montserrat";
    color: var(--color-titulo);
  }
  
  .formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: var(--color-sub-titulos) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-family: "Montserrat";
    font-size: .9rem;
    color: black;
    border-bottom: #5f5f5f solid 1px;
  }
  
  .formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color:var(--bg-titulos);
    font-weight: 600;
    margin-top: 3rem;
     font-family: "Montserrat";
    font-size: .8rem;
    cursor: pointer;
    color: #ffff;
  
  }
  
  .sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  
  .sign-in.active {
    opacity: 1;
    visibility: visible;
  }
  
  .sign-up.active {
    opacity: 0;
    visibility: hidden;
  }

  @media screen and (max-width:750px){

    .container-form sign-in{
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
       
       
    }
    .container-form {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   
    

      
    }
    .formulario{
        width: 100%;
       height: 40em;
       padding: 2%;
        
       
    

    }

    .create-account{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
        
    }
    .cuenta-gratis{
        width: 100%;
        height: auto;
    }
    input label button{
        width: 50%;
        font-size: 15px;
    }
    .message{
        width: 90%;
        height: 50vh;
        
    }
    .iconos{
        width: 20%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
        
    }

    .border-icon-insta{
        width: 1.2rem;
        height: 1.2rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    

    }

    .border-icon-insta a{
      
      background-size: auto;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;

    }
    .border-icon-google a{
        background-size: auto;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }
    .border-icon-face a{
       background-size: auto;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }
    .welcome-back{
        margin-top: 70vh; 
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }

    }
 

.recuperacion{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: myAnim 2s ease 0s 1 normal forwards;
   
}

.formulario2{
    width: 25rem;
    display: inline-block;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    border-radius: 40px;
    box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
    padding: 50px 35px 35px 35px;
    
}

.create-account2 {
    font-family: "Montserrat";
    padding: 2.7rem 0;
    font-size: 1.7rem;
    color: var(--bg-titulos);
  }
  
  .iconos2 {
    width: 12.5rem;
    height: 6.2rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
    
  }
  
 
   
  .iconos2 i{
 color: white;
 
  }

  
  .border-icon2 {
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin var(--color-titulo);
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
  
  }

  .border-icon2-insta{
    height: 1.2rem;
    width: 1.2rem;
    background:linear-gradient(orange, fuchsia, pink);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
  
  }
  .border-icon2-google{
    height: 1.2rem;
    width: 1.2rem;
    background:linear-gradient(red,rgb(179, 3, 3));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
  }

  .border-icon2-face{
    height: 1.2rem;
    width: 1.2rem;
    background:linear-gradient(blue, rgb(5, 5, 128));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
  }

  .border-icon2:hover {
    cursor: pointer;
  }
  


  .formulario2 input {
    width: 70%;
    display: block;
   margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: var(--color-sub-titulos) thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-family: "Montserrat";
    font-size: .9rem;
    color: black;
    border-bottom: #5f5f5f solid 1px;
  }
  
  .formulario2 input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color:var(--bg-titulos);
    font-weight: 600;
    margin-top: 3rem;
     font-family: "Montserrat";
    font-size: .8rem;
    cursor: pointer;
    color: #ffff;
  
  }