@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    image-rendering: optimizeQuality;
}


/* fuente para h1, span{
          box-sizing: border-box;
        font-family: "Lato", sans-serif;
        font-style: normal;
          font-weight: 600;
        }
    fuente p{
          box-sizing: border-box;
        font-family: "Lato", sans-serif;
        font-style: normal;
          font-weight: 400;
        }

         */

 :root {
    --bg-titulos: #042469;
    --color-titulo: #0010b3;
    --color-sub-titulo: #0cbccc;
    --color-oscuro: #063254;
}

body {
    width: 100%;
    background-image: url(../background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contedor-principal {
    width: 100%;
    height: 90vh;
    background-image: url(../conteneror-principal.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.navegador {
    width: 100%;
    height: 5.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba( 255, 255, 255, 0.65);
    box-shadow: 0 2px 10px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 6.5px);
    -webkit-backdrop-filter: blur( 6.5px);
    padding: 3% 0;
}

.enlaces-navegador {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enlaces-navegador a {
    width: 100%;
    color: var(--bg-titulos);
    font-size: 1.6vw;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.logo-empresa img {
    width: 14em;
}

.login {
    width: 500px;
    display: flex;
    gap: 20px;
}

.contedor-lenguaje {
    width: 20%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateX(25%);
}

@media (max-width:1400px) {
    .contedor-lenguaje {
    transform: translatex(0%);
}
}

.contedor-banderas {
    width: 33%;
    display: grid;
    grid-template-columns: repeat(1, 1fr 1px 1fr);
    place-items: center;
}

.img-lenguaje img {
    display: flex;
    align-items: center;
    height: 1.4rem;
    padding: 0px 5px;
}

.img-login img {
    width: 25px;
}

.lenguaje {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.texto-lenguaje {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-lenguaje p {
    text-align: center;
    font-size: 1vw;
    color: var(--color-titulo);
    cursor: pointer;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.texto-lenguaje p:hover {
    color: var(--color-sub-titulo);
}

.separador-lenguaje {
    width: 1px;
    height: 100%;
    background-color: var(--color-oscuro);
}

.login {
    width: 45%;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.login a {
    text-decoration: none;
    color: var(--bg-titulos);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
    width: 100%;
}

.login a:hover {
    color: var(--color-sub-titulo);
    font-size: 1vw;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}


/* Menu dropdown */

ul {
    list-style: none;
    width: 100%;
    display: flex;
    gap: 20px;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 5px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: var(--bg-titulos);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul li .dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 250%;
    background-color: #ffffff;
    position: absolute;
    z-index: 999;
    display: none;
    margin-top: 5px;
}

ul li a:hover {
    color: #0cbccc;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

ul li .dropdown li a:hover {
    background-color: rgba(0, 0, 0, 0.199);
}

ul li:hover ul.dropdown {
    display: block;
}

.titulo-contenedor1 {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 10%;
}

.titulo-contenedor1 h1,
span {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.5vw;
    text-align: center;
}

.titulo-contenedor1 h1 {
    color: #010a1d;
}

.titulo-contenedor1 span {
    color: var(--color-sub-titulo);
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3.7vw;
    letter-spacing: 1px;
}

.boton-contenedor1 {
    width: 25%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#boton1-contenedor1>a {
    transition: all .5s ease-in-out;
}

#boton1-contenedor1:hover a {
    background: white;
    color: var(--color-oscuro);
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 1.5vw;
    text-decoration: none;
}

.boton-contenedor1 a {
    width: 100%;
    background-color: var(--color-oscuro);
    text-decoration: none;
    text-align: center;
    padding: 5% 5%;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 1.5vw;
    border-radius: 50px;
}

.contenedor1-parrafo {
    font-size: 1.2em;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor1-parrafo p {
    text-align: center;
    color: #010a1d;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2vw;
}

.contenedor-IAQ {
    /* border: 1px solid red; */
    width: 100%;
    /* height: 110vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    margin-top: 2%;
}

.contenedor-internoIAQ {
    /* border: 1px solid green; */
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.titulo-IAQ {
    width: 100%;
    /* border: 1px solid purple; */
}

.titulo-IAQ h1 {
    color: var(--bg-titulos);
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
    text-align: center;
}

.span-IAQ {
    color: var(--color-sub-titulo);
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
    letter-spacing: 1px;
    text-indent: 20px;
    padding: 2% 0;
    margin-bottom: 2%;
}

.parrafoIAQ p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7vw;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2.2vw;
}

.tarjetas-IAQ {
    /* border: 1px solid rgb(128, 0, 85); */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr)) ;
    gap: 2em;
}

.card-IAQ {
    width: 100%;
    /* height: 60vh; */
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 6% 0;
    background: rgba( 255, 255, 255, 0.3);
    box-shadow: 0 1px 3px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 5.5px);
    -webkit-backdrop-filter: blur( 5.5px);
    border-radius: 60px 5px 60px 25px;
    transition:  0.9s;
    /* border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18); */
}

.card-IAQ:nth-child(1),
.card-IAQ:nth-child(2),
.card-IAQ:nth-child(3),
.card-IAQ:nth-child(4){
    display: flex;
}

.card-imgIAQ {
    width: 85%;
    height: 50%; 
    object-fit: cover;       
}
.card-IAQ:hover {    
    transform: translateY(-25px);
}


.card-imgIAQ img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 45px 5px 45px 25px;
}

.card-texto {
    width: 85%;
    height: 50%;
    /* background: #ffffff; */
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-texto h4 {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8vw;
    color: var(--color-oscuro);
}

.card-texto p {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3vw;
    line-height: 1.5vw;
    color: gray;
    text-align: justify;
}

.boton-IAQ a, .boton-IAQ div {
    width: 100%;
    background-color: var(--color-oscuro);
    text-decoration: none;
    text-align: center;
    padding: 2% 2%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 1.2em;
    border-radius: 50px;
    cursor:pointer;
}

.boton-IAQ {
    width: 25%;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    margin-top: 1%;
}

#boton-IAQ>a {
    transition: all .5s ease-in-out;
}

#boton-IAQ:hover a {
    background: white;
    color: var(--color-oscuro);
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    font-style: normal;
    font-size: 1.2em;
}

.texto-IAQ {
    width: 60%;
    display: flex;
    flex-direction: column;
    /* background: rgba( 255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px); */
    gap: 30px;
    /* -webkit-box-shadow: 10px 10px 50px -14px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 10px 10px 50px -14px rgba(0, 0, 0, 0.78);
    box-shadow: 10px 10px 50px -14px rgba(0, 0, 0, 0.78);
    border-radius: 10px 48px 10px 48px;
    -moz-border-radius: 10px 48px 10px 48px;
    -webkit-border-radius: 10px 48px 10px 48px; */
}

.primer-parrafoIAQ {
    width: 100%;
    display: flex;
    justify-content: end;
}

.primer-parrafoIAQ p {
    text-align: right;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-size: 1.3em;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-indent: 20px;
    color: black;
    background: rgba( 255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    padding: 2% 3% 2% 3%;
    -webkit-box-shadow: 10px 10px 17px -4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 10px 17px -4px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 10px 17px -4px rgba(0, 0, 0, 0.28);
}

.contedor-IAQ2 {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    z-index: 10;
}

.Segundo-parrafoIAQ {
    width: 100%;
}

.Segundo-parrafoIAQ p {
    text-align: right;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    text-decoration: none;
    font-size: 1.3em;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-indent: 20px;
    color: black;
    background: rgba( 255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    padding: 2% 3% 2% 3%;
    -webkit-box-shadow: 10px 10px 17px -4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 10px 17px -4px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 10px 17px -4px rgba(0, 0, 0, 0.28);
}

.texto-IAQ p {
    width: 80%;
}

.tercer-parrafoIAQ {
    width: 100%;
    display: flex;
    justify-content: end;
}

.tercer-parrafoIAQ p {
    width: 75%;
    text-align: right;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    font-style: normal;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-indent: 20px;
    color: black;
    background: rgba( 255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    /* padding: 2% 3% 2% 3%; */
    -webkit-box-shadow: 10px 10px 17px -4px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 10px 17px -4px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 10px 17px -4px rgba(0, 0, 0, 0.28);
}

.img-IAQ {
    width: 35%;
    position: absolute;
    bottom: 25%;
    left: 10%;
}

.img-IAQ img {
    border: 5px solid #ffffff;
    border-radius: 0px 48px 0px 48px;
    -moz-border-radius: 0px 48px 0px 48px;
    -webkit-border-radius: 0px 48px 0px 48px;
}

.border-IAQ {
    width: 100%;
    height: 50vh;
    border: 2px solid var(--color-sub-titulo);
    z-index: -1000;
    position: relative;
}

.contedor-IAQ2 {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagen-titulo {
    display: flex;
    flex-direction: column;
    gap: 10em;
}

.img2-IAQ {
    width: 60%;
    position: absolute;
    bottom: -5%;
    left: 70%;
    z-index: 20;
}

.contedor-imgsIAQ {
    display: flex;
    position: relative;
}

.img2-IAQ img {
    width: 80%;
    border: 5px solid #ffffff;
    border-radius: 10px 48px 10px 48px;
    -moz-border-radius: 10px 48px 10px 48px;
    -webkit-border-radius: 10px 48px 10px 48px;
}


/* Sebas  */


/* fonts */

h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

p,
a,
span {
    font-family: "lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}


/* Seccion del Slider de Servicios */

.Sect-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: clip;
    margin-top: 2%;

}

.Services-tl {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    z-index: 100;
}

.Services-tl h1 {
    font-size: 3vw;
    color: var(--bg-titulos);
    z-index: inherit;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
}

.Services-tl span {
    color: var(--color-sub-titulo);
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    letter-spacing: 1px;
}

.Slider-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    min-width: 400px;
    height: 65%;
    min-height: 300px;
    background: rgb(233, 231, 231);
    box-shadow: 0 15px 30px #dbdbdb;
    border-radius: 45px 5px 45px 25px;
}

.Slider-cont .Slider .Services {
    width: 250px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, 25%);
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
    border-radius: 45px 5px 45px 25px;
}

.Slider .Services:nth-child(1),
.Slider .Services:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.Slider .Services:nth-child(3) {
    left: 50%;
    box-shadow: 0px 5px 10px #dbdbdb;
    border-radius: 45px 5px 45px 25px;
    /* opacity: 0; */
}

.Slider .Services:nth-child(4) {
    left: calc(50% + 280px);
    box-shadow: 0px 5px 10px #dbdbdb;
    border-radius: 45px 5px 45px 25px;
    /* opacity: 0; */
}

.Services .Serv-content {
    position: absolute;
    top: 50%;
    left: 100px;
    min-width: 300px;
    width: 30%;
    background-color: #dde7eec0;
    backdrop-filter: blur(1px);
    padding: 10px;
    transform: translate(0, -50%);
    display: none;
    padding: 2%;
    border-radius: 45px 5px 45px 25px;
}

.Slider .Services:nth-child(2) .Serv-content {
    display: block;
    font-weight: bold;
    z-index: 10;
}

.Serv-content .Serv-name {
    font-size: 2vw;
    color: var(--color-titulo);
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: Appear .3s ease-in .1s 1 forwards;
}

.Serv-content .Serv-desc {
    color: var();
    font-weight: 500;
    font-size: 1.2vw;
    margin: 10px 0 20px 0;
    letter-spacing: 1px;
    line-height: 1.4em;
    opacity: 0;
    animation: Appear .3s ease-in 0.3s 1 forwards;
}

.Serv-content .Serv-btn {
    display: inline-block;
    font-size: 1.2vw;
    padding: 15px 25px;
    background-color: var(--color-oscuro);
    text-decoration: none;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: all .5s ease-in-out;
    animation: Appear .5s ease-in 0.6s 1 forwards;
    border-radius: 25px;
}

.Serv-btn:hover {
    transition: all .5s ease-in-out;
    background-color: white;
    text-decoration: none;
    color: var(--color-oscuro);
}

@keyframes Appear {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

.Direct-btns {
    width: 100%;
    height: 100%;
    text-align: center;
    top: 20px;
}

.Direct-btns button {
    width: 25px;
    height: 50px;
    border: none;
    margin: 0 5px;
    box-shadow: 5px 2px 5px #bbb;
    transition: 0.5s;
}

.Direct-btns button:hover {
    background-color: #dbdbdb;
    color: #3178d4;
}

.Direct-btns button:nth-child(1) {
    position: absolute;
    left: 10px;
    top: 50%;
}

.Direct-btns button:nth-child(2) {
    position: absolute;
    right: 10px;
    top: 50%;
}


/* Slider clientes contentos */

.Slider2-cont {
    position: absolute;
    overflow: clip;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 450px;
    height: 80%;
    /* background: rgba( 255, 255, 255, 0.55);
    box-shadow: 0 2px 4px 0 rgba( 31, 38, 135, 0.37); */
}

.Slider2 .Clients{
    min-width: 250px;
    max-height: 500px;
    position: absolute;
    top: 50%;
    transform: translate( 0%, 10%);
    display: inline-block;
    transition: 1s;
}

.Slider2 .Clients:nth-child(1) {
    top: 0;
    left: 0;
    transform: translate(-75%, 10%);
    width: 40%;
    height: 100%;
    opacity: 0;
}

.Slider2 .Clients:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0%, 10%);
    width: 40%;
    height: 100%;
}

.Slider2 .Clients:nth-child(3) {
    top: 0;
    left: 0;
    transform: translate(75%, 10%);
    width: 40%;
    height: 100%;
}

.Slider2 .Clients:nth-child(4) {
    top: 0;
    left: 0;
    transform: translate(150%, 10%);
    width: 40%;
    height: 100%;
}

.Slider2 .Clients:nth-child(5) {
    top: 0;
    left: 0;
    transform: translate(230%, 10%);
    width: 40%;
    height: 100%;
    opacity: 0;
}

.Slider2 .Clients:nth-child(n + 6) {
    top: 0;
    left: 0;
    transform: translate(300%, 10%);
    width: 40%;
    height: 100%;
}

@media (max-width: 1440px) {
    .Slider2 .Clients:nth-child(1),
    .Slider2 .Clients:nth-child(2),
    .Slider2 .Clients:nth-child(3),
    .Slider2 .Clients:nth-child(4),
    .Slider2 .Clients:nth-child(5),
    .Slider2 .Clients:nth-child(n + 6){
        height: 60%;
    }
}


.Slider2 .Clients .Client-pic {
    position: absolute;
    top: -20%;
    left: 50%;
    padding: 10px;
    transform: translate(0, -60%);
}

.Client-pic img {
    width: 100%;
    height: 100%;
    min-width: 120px;
    object-fit: cover;
    border-radius: 45px 25px 25px 5px;
}

.Clients .Client-content {
    position: absolute;
    top: 50%;
    left: 100px;
    min-width: 200px;
    width: 60%;
    height: 70%;
    background-color: #dde7ee73;
    border-radius: 45px 5px 45px 25px;
    backdrop-filter: blur(1px);
    padding: 10px;
    transform: translate(0, -20%);
    display: none;
}

.Slider2 .Clients:nth-child(1) .Client-content,
.Slider2 .Clients:nth-child(2) .Client-content,
.Slider2 .Clients:nth-child(3) .Client-content,
.Slider2 .Clients:nth-child(4) .Client-content,
.Slider2 .Clients:nth-child(5) .Client-content {
    display: block;
    padding: 4%;
}

.Client-content .Client-name {
    font-size: 2vw;
    text-align: center;
    color: var(--bg-titulos);
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: Appear .3s ease-in .1s 1 forwards;
}

.Client-content .Client-desc {
    margin: 10px 0 0 0;
    text-align: justify;
    font-size: 1vw;
    letter-spacing: 1px;
    line-height: 1.4em;
    opacity: 0;
    animation: Appear .3s ease-in 0.3s 1 forwards;
}


/* Contenedor de moho */

.Cont-moho {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% 0%;
    margin-top: 4%;
    gap: 20px;
}

.cont-moho2 {
    width: 74%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.P-moho2 {
    font-size: 1.7vw;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-align: right;
    margin: 1em 0px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.cont-moho2 h1 {
    font-size: 3vw;
    font-weight: 600;
    color: var(--bg-titulos);
    letter-spacing: 1px;
}

.cont-moho2 span {
    font-size: 2.8vw;
    color: var(--color-sub-titulo);
    letter-spacing: 1px;
}

.Sect-moho {
    width: 80%;
}

.Sect-moho h1 {
    width: 80%;
    font-size: 3vw;
    font-weight: 600;
    color: var(--bg-titulos);
    letter-spacing: 1px;
}

.Sect-moho h1 span {
    width: 80%;
    font-size: 2.8vw;
    color: var(--color-sub-titulo);
    letter-spacing: 1px;
}

.Art-moho-1 {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 100%;
}

.Art-moho-img {
    width: 90%;
}

.Art-moho-img img {
    /* margin-left: 10%; */
    width: 90%;
    border-radius: 45px 25px 45px 5px;
    box-shadow: 10px 10px 10px -14px rgba(0, 0, 0, 0.78);
}

.Dv-moho-1 {
    width: 88%;
    /* padding: 1% 0%; */
}

.Dv-moho-1 .P-moho {
    width: 80%;
}

.Dv-moho-2 {
    width: 100%;
}

.Dv-moho-2 h2 {
    font-size: 1.9vw;
    color: var(--bg-titulos);
    font-weight: 400;
    letter-spacing: 1px;
}

.Dv-moho-2 h2 span {
    font-size: 1.9vw;
    color: var(--color-sub-titulo);
    font-weight: 400;
    letter-spacing: 1px;
}

.P-moho {
    font-size: 1.7vw;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-align: justify;
    margin: 1em 0px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.P-moho span {
    color: #ffff;
    background-color: var(--color-oscuro);
    border-radius: 50px;
    width: 1.5em;
    padding: 1% 2%;
    margin-right: 15px;
    font-size: inherit;
}

.Cont-serv-clt {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4%;
    /* margin: 3% 0; */
}

.Sect-serv-clt {
    width: 80%;
    display: flex;
}

.Sect-serv-clt img {
    width: 40%;
    border-radius: 45px 5px 45px 25px;
    box-shadow: 10px 10px 10px -14px rgba(0, 0, 0, 0.78);
    margin-right: 50px;
    object-fit: cover;
}

.Art-serv-clt {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.Art-serv-clt-tl {
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--bg-titulos);
}

.Art-serv-clt-tl span {
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color-sub-titulo);
}

.Art-serv-clt-p {
    width: 100%;
    font-size: 1.7vw;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5em;
    text-align: justify;
    margin-top: 3%;
}

.Art-serv-clt-p span {
    color: #ffff;
    background-color: var(--color-oscuro);
    border-radius: 50px;
    width: 1.5em;
    padding: 1% 2%;
    margin-right: 15px;
    font-size: inherit;
}


/* contenedor3-imagen */

.contenedor3-imagen {
    width: 100%;
    height: 50vh;
    background-image: url(../03_12_19_001_interior.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(150%);
    display: flex;
    justify-content: start;
    align-items: center;
    background-attachment: fixed;
    margin-top: 5%;
}

.contedor3-titulo {
    width: 100%;
    height: 100%;
    /* padding: 2% 0%; */
}

.contenedor3-texto {
    width: 52%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 20px);
    -webkit-backdrop-filter: blur( 20px);
    padding: 2% 0;
    gap: 10px;
}

.contenedor3-texto h1 {
    color: var(--bg-titulos);
    font-size: 2em;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 1px;
}

.contenedor3-texto p {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4em;
    color: black;
    text-align: center;
    letter-spacing: 1px;
}

.boton-contenedor3 {
    width: 45%;
    display: flex;
    justify-content: center;
    background-color: var(--color-oscuro);
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 1%;
    border-radius: 50px;
}

.boton-contenedor3 a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 1.2em;
    padding: 2% 2%;
}

#boton-contenedor3>a {
    transition: all .5s ease-in-out;
}

#boton-contenedor3:hover a {
    background: white;
    color: var(--color-oscuro);
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    font-style: normal;
    font-size: 1.2em;
    border-radius: 50px;
}


/* Contenedor como funciona nuestro servicio */

.funcionamiento-servicio {
    width: 100%;
    height: auto;
    margin-top: 2%;
    overflow: clip;
}

.contendor-funcionamiento {
    display: flex;
    gap: 2%;
    overflow: clip;
}

.texto-funcionamiento {
    /* border: 1px solid green; */
    width: 45%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 2%;
    gap: 30px;
}

.titulo-funcionamiento h1 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
    letter-spacing: 1px;
    color: var(--bg-titulos);
}

.titulo-funcionamiento span {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3vw;
    color: var(--color-sub-titulo);
    letter-spacing: 1px;
}

.subtitulo-funcionamiento h4 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8vw;
    color: black;
    line-height: 1.5em;
    letter-spacing: 1px;
    text-align: left;
}

.card-funcionamiento {
    /* border: 1px solid violet; */
    width: 70%;
    /* height: 80vh; */
    display: flex;
    overflow: clip;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
    padding: 1% 0;
    background: rgba( 255, 255, 255, 0.55);
    box-shadow: 0 2px 4px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 2.5px);
    -webkit-backdrop-filter: blur( 2.5px);
}

.contenedor-card {
    width: 100%;
    /* border: 1px solid navy; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 2%;
    /* justify-content: space-evenly; */
}

.card {
    /* border: 1px solid red; */
    width: 25%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    padding: 10px 10px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
}
.card:after {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-top: 3px solid var(--color-sub-titulo);
    border-left: 3px solid var(--color-sub-titulo);
    border-radius: 0px 0 0 0;
}
.card:before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-bottom: 3px solid var(--color-sub-titulo);
    border-right: 3px solid var(--color-sub-titulo);
    border-radius: 0 0 0px 0;
}




.icono-card{
    width: 100%;
    display: flex;
    justify-content: center;
}
.icono-card img {
    width: 25%;
}

.texto-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.texto-card h3 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2vw;
    color: var(--bg-titulos);
    text-align: left;
}

.texto-card p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1vw;
    text-align: left;
    color: gray;
}

.img-funcionamiento {
    width: 100%;
    height: 30%;
}

.img-funcionamiento img {
    width: 50%;
    height: 100%;
}

.contenedor-parallax2 {
    width: 100%;
    height: 50vh;
    background-image: url(../parallax2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-attachment: fixed;
}

.parallax2-texto {
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 20px);
    -webkit-backdrop-filter: blur( 20px);
    padding: 2% 0;
    gap: 10px;
}

.parallax2-texto h1 {
    color: var(--bg-titulos);
    font-size: 3vw;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal
}


/* contenedor de contactos */

.contenedor-contactos {
    /* border: 1px solid red; */
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
    margin-top: 3%;
}

.Contactos {
    /* border: 1px solid green; */
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 1%;
    background: rgba( 255, 255, 255, 0.55);
    box-shadow: 0 2px 4px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 2.5px);
    -webkit-backdrop-filter: blur( 2.5px);
}

.separador-contactos {
    width: 1px;
    height: 180px;
    background-color: var(--color-oscuro);
}

.seccion-contactos {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 10px;
}

.seccion-contactos img {
    width: 2.8em;
}

.seccion-contactos h4 {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    color: var(--bg-titulos);
}

.seccion-contactos a {
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    color: grey;
}

.seccion-contactos p {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    color: grey;
}

.titulo-contactos h1 {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    letter-spacing: 1px;
    color: var(--bg-titulos);
}

.titulo-contactos span {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    letter-spacing: 1px;
    color: var(--color-sub-titulo);
}


/* contenedor beneficios  */

.contenedorpadre-beneficios {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2%;
}

.container-beneficios {
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.contenedor-beneficios {
    /* border: 1px solid navy; */
    width: 50%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2% 2%;
    background: rgba( 255, 255, 255, 0.55);
    box-shadow: 0 2px 4px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 2.5px);
    -webkit-backdrop-filter: blur( 2.5px);
}

.beneficios-tarjetas {
    width: 100%;
    /* border: 1px solid saddlebrown; */
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.beneficios-card {
    width: 40%;
    /* border: 1px solid green; */
    display: flex;
    gap: 5px;
}

.beneficios-card img {
    width: 25px;
    height: 25px;
}

.beneficios-card h4 {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    text-align: left;
    color: var(--bg-titulos);
}

.titulo-beneficios h1 {
    width: 100%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    color: var(--bg-titulos);
    padding: 2% 2%;
    text-align: center;
}

.titulo-beneficios span {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    color: var(--color-sub-titulo);
}

.grid-beneficios {
    width: 40%;
    height: auto;
    /* border: 1px solid orange; */
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 1% 1%;
    background: rgba( 255, 255, 255, 0.55);
    box-shadow: 0 2px 4px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 2.5px);
    -webkit-backdrop-filter: blur( 2.5px);
}

.grid1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(../Asbestos-Removal-Professional-Toronto-q8dt2q9kn9cooje97vtwihh8a3yl271q9q45ptu7pk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 4/3;
}

.grid2 {
    grid-column: 2/4;
    grid-row: 1/2;
    background-image: url(../logos/ISOTIPO\ -\ LOGO\ .webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 4/3;
}

.grid3 {
    grid-column: 1/2;
    grid-row: 2;
    background-image: url(../hogar-afialicion.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 4/3;
}

.grid4 {
    grid-column: 2/4;
    grid-row: 2;
    background-image: url(../contenedor3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: auto;
}

.solicitud {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 2;
}

.form {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #355891;
    padding: 20px;
    border-radius: 10px;
}

.message {
    color: #355891;
    font-size: 14px;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid #355891;
    border-radius: 5px;
    position: relative;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #355891;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
    z-index: 3;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid+span {
    color: green;
}

.input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid #355891;
    border-radius: 5px;
}

.form label .input01+span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: #355891;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input01:placeholder-shown+span {
    top: 40px;
    font-size: 0.9em;
}

.form label .input01:focus+span,
.form label .input01:valid+span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input01:valid+span {
    color: green;
}

.servicio {
    color: white;
    outline: 0;
}

.drop {
    border: none;
    outline: none;
}

.value {
    outline: none;
    border: none;
}

.fancy {
    background-color: white;
    border: 2px solid #355891;
    border-radius: 0px;
    box-sizing: border-box;
    color: #355891;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #355891;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #355891;
    transform: translateX(30%);
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #355891;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #355891;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #355891;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: #355891;
    background: #5f82a9;
}

.fancy:hover::before {
    width: 1.5rem;
    background: #355891;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.titulo-solicitud {
    width: 40vh;
    height: 60vh;
}

.titulo-soli {
    font-size: 50px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 600;
    color: var(--bg-titulos);
}

.cambio-soli {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: #355891;
}

.parrafo-soli {
    width: 350px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: var(--bg-titulos);
    background-color: #355891b0;
    border-radius: 5px;
    margin-top: 10px;
}

.registro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
   
}

.form-container {
    width: 350px;
    height: 80vh;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(173, 51, 51, 0.168);
    position:absolute;
}

.logo-container{
    color: var(--bg-titulos);
}

.social-buttons {
    width: 300px;
    height: 50px;
    margin-top: 40px;
}

span {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.form-container button:active {
    scale: 0.95;
}

.form-container .logo-container {
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.form-container .social-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.form-container .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: inherit;
    color: #fff;
    border: none;
    padding: 12px 16px;
    gap: 8px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .social-button svg {
    width: 22px;
    height: 22px;
    fill: white;
}

.form-container .social-button.facebook {
    background-color: #1778f2;
}

.form-container .social-button.apple {
    background-color: #212121;
}

.form-container .social-button.google {
    background-color: white;
    color: black;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.form-container .form-group input[type="text"],
.form-container .form-group input[type="password"] {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #ccc;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input[type="text"]:focus,
.form-container .form-group input[type="password"]:focus {
    outline: none;
    border-color: #1778f2;
}

.form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
    background-color: #313131;
}

.form-container .link {
    color: #1778f2;
    text-decoration: none;
}

.form-container .forgot-password-link {
    align-self: flex-end;
    margin-top: -20px;
}

.form-container .signup-link {
    align-self: center;
    font-weight: 500;
}

.form-container .signup-link .link {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.form-container .link:hover {
    text-decoration: underline;
}

.form-container .line {
    width: 100%;
    height: 1px;
    background-color: #212121;
    opacity: 0.1;
}

.checkbox-input {
    width: 320px;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: flex;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.checkbox-input input {
    cursor: pointer;
    margin-right: 10px;
    
}

.hide{
    display: none;
}

.hide_btn{
    cursor: pointer;
    display: block;
   
}


/* Footer */

footer {
    width: 100%;
    background-color: rgb(117, 117, 117);
    -webkit-box-shadow: 0px -7px 5px -3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px -7px 5px -3px rgba(0, 0, 0, 0.19);
    box-shadow: 0px -7px 5px -3px rgba(0, 0, 0, 0.19);
    
    
}

.contenedor-footer {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 3% 0;
}

.enlaces-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.enlaces-footer a {
    text-decoration: none;
    font-size: 1.4vw;
    color: var(--bg-titulos);
    font-weight: 400;
}

.enlaces-footer a:hover {
    color: var(--color-sub-titulo);
}

.redes-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.instragram-footer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.instragram-footer img {
    width: 1.5em;
}

.instragram-footer a {
    text-decoration: none;
    font-size: 1.4vw;
    color: var(--bg-titulos);
    font-weight: 400;
}

.instragram-footer a:hover {
    color: var(--color-sub-titulo);
}

.copyright {
    display: flex;
}

.copyright span {
    font-size: 1.2vw;
    font-weight: 400;
}