*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
    
}


.registro-login{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.container-form {
  width: 90%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  transition:  all .5s ease-out;
}

.welcome-back {
  display: flex;
  align-items: center;
  text-align: center;
}

.message {
  padding: 1rem;
}

.message h2 {
  font-size: 1.7rem;
  padding: 1rem 0;
}

.message button {
  padding: 1rem;
  font-weight: 400;
  background-color: #4a4aee;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: #ffff;
}

.message button:hover {
  background-color: #6464f8;
}

.formulario {
  width: 400px;
  padding: 1rem;
  margin: 2rem;
  border-radius: 40px;
  box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #ffffff;
  padding: 50px 35px 35px 35px;
  text-align: center;
}

.create-account {
  padding: 2.7rem 0;
  font-size: 1.7rem;
}

.iconos {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.iconos i{
color: #4a4aee;
}

.border-icon {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: solid thin #4a4aee;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all .3s ease-in;
}



.border-icon:hover {
  background-color: #4a4aee;
  cursor: pointer;
}

.cuenta-gratis {
  padding: 2rem 0;
}

.formulario input {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: #4a4aee thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: black;
}

.formulario input[type="button"] {
  width: 60%;
  margin: auto;
  border: solid thin white;
  padding: .7rem;
  border-radius: 2rem;
  background-color: #4a4aee;
  font-weight: 600;
  margin-top: 3rem;
  font-size: .8rem;
  cursor: pointer;
  color: #ffff;
}

.sign-in {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.sign-in.active {
  opacity: 1;
  visibility: visible;
}

.sign-up.active {
  opacity: 0;
  visibility: hidden;
}


.pie-pagina{
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
  
}
.box_enlaces a{
  width: 100%;
  display: block;
  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  padding: 10px 0px;   
  

}

.box_enlaces a:hover{
  color: #0cbccc;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
 
  
}
.pie-pagina .grupo-1 .box h2{
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 15px;
  font-size: 20px;
 
}
.box_titulo{
  margin-top: 45px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.red-social{
  margin-top: 20px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}
   